{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/details.css' %}">
{% endblock %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} tutors {% endif %}
{% endblock %}
{% block content %}
<!-- store userName tutorName in hidden variables -->
<!--input hidden="hidden" id=userName" value="$User.name"/-->
<div class="detailscontainer">
    <div class="sidenav">
       <div class="price">
           <p>${{tutor.price}}/hr</p>
           <hr>
       </div>
       <div class="items">
           <ul>
           <li><p>No subscriptions or upfront payments</p></li>
           <li><p>Only pay for the time you need</p></li>
           <li><p>your first hour is free</p></li>
           </ul>
           <div class="checkout">
           <button type="button">Checkout</button>
           </div>
       </div>
       

    </div>
   
    <div class="head">
        <img class=" rounded-circle img-responsive" src={{tutor.images.url}}/>
    <div class="taglines">
        <h4>{{tutor.name}}</h4>
        <h3>{{tutor.Tagline}}</h3>
    </div>
    
    <div class="qualification">
        <h4>Qualifications for “Voice (Music)”</h4>
            
            <p>{{tutor.qualification}}
            </p>
        <hr>
            <p>Related Subjects&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tutor.related_subjects}}</p>
        
    </div>
</div>
<div class="aboutme">
    <div class="name">
        <h4>About Me</h4>
        <hr>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Bio</p>
        </div>
        <div class="col-9">
            <p id="aboutme">{{tutor.description_tutor}}</p>
        </div>
    </div>

<hr>
<div class="row">

    <div class="col-3 education">
        <p>Education</p>
    </div>
    <div class="col-9">
        <p>{{tutor.education_1}}</p>
        <p>{{tutor.education_2}}</p>
        <p>{{tutor.education_}}</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3 policies">
        policies
    </div>
    <div class="col-9">
        <p>Hourly Rate: $40</p>
        <p>Lesson cancellation: <strong>24 hours notice required</strong></p>
        <p>Your first lesson is backed by our Good Fit Guarantee</p>
    </div>

</div>
<hr>
<div class="row">
    <div class="col-3 policies">
        Available timings
    </div>
    <div class="col-2">
        <p>MONDAY</p> 
        <p>TUESDAY</p>
        <p>WEDNESDAY</p>
        <p>THURSDAY</p> 
        <p>FRIDAY</p>
        <p>SATURDAY</p>
        <p>SUNDAY</p>
    </div>
    <div class="col-4">
       
        <p>{{tutor.enter_mondaytimings}}</p>
        <p>{{tutor.enter_tuesdaytimings}}</p>
        <p>{{tutor.enter_wednesdaytimings}}</p>
        <p>{{tutor.enter_thursdaytimings}}</p>
        <p>{{tutor.enter_fridaytimings}}</p>
        <p>{{tutor.enter_saturdaytimings}}</p>
        <p>{{tutor.enter_sundaytimings}}</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3 policies">
        Subjects
    </div>
    <div class="col-3">
        <p><strong>Home School</strong></p>
        <p>{{tutor.Home_school}}</p>
        <p><strong>Language</strong></p>
        <p>{{tutor.Language}}</p>
    </div>
    <div class="col-4">
        <p><strong>Most Popular</strong></p>
        <p>{{tutor.Most_popular}}</p>
        <p><strong>Music</strong></p>
        <p>{{tutor.Music}}</p>
        <p><strong>Summer</strong></p>
        <p>{{tutor.summar}}</p>

    </div>

</div>
<h5><strong>Ratings and Reviews</strong></h5>
<hr>
<div class="row">
    <div class="col-3 ratings">
        <p>Rating</p>
    </div>

   
    <div class="col-9">
        <form method="POST" id="ajax_call">
        <span class="fa fa-star " id="1-star" name='action' value= '1' onclick=starFunction(this.id)></span>
        <span class="fa fa-star " id="2-star"  name='action' value='2' onclick=starFunction(this.id)></span>
        <span class="fa fa-star " id="3-star"  name='action' value='3' onclick=starFunction(this.id)></span>
        <span class="fa fa-star" id="4-star"  name='action' value='4' onclick=starFunction(this.id)></span>
        <span class="fa fa-star" id="5-star"  name='action' value='5' onclick=starFunction(this.id)></span>
        </form> 

       
        
        <a href="{% url 'onlinetutors:ratings'%}"><h4>Add Rating</h4></a>
        
       
    </div>
    <p id="rating"></p>
    
 
</div>
<hr>
<div class="row">
    <div class="col-3">
        <p>Comments...</p>
    </div>
    <div class="col-6">
        {% if not tutor.comments.all %}
            No Comments Yet...<a href="{% url 'onlinetutors:add_comments' pk=tutor.pk %}">
            Add One</a>
        {% else %}

        <a href="{% url 'onlinetutors:add_comments' pk=tutor.pk %}"><h4>Add Comment</h4></a>
        <br/><br/>
           {% for comment in tutor.comments.all %}
               <strong>
                   {{comment.name}}-
                   {{comment.created}},

               </strong>
                <br/>
                {{comment.body}}
                <br/><br/>
                
            {% endfor %}
          {% endif %}
            
         
        
    </div>

</div>

</div>  
</div>



<script>
  
    function starFunction(star_clicked){
        var a ="{{user.pk}}";
        var b ="{{tutor.pk}}";
        var c= new Date();
      
        {% if request.user.is_authenticated %}
    
        if (star_clicked == '1-star'){
            var hasChecked = document.getElementById('1-star').classList.contains('checked');
            if (hasChecked == true) {
                
                document.getElementById('2-star').classList.remove("checked");
                document.getElementById('3-star').classList.remove("checked");
                document.getElementById('4-star').classList.remove("checked");
                document.getElementById('5-star').classList.remove("checked");
            }
            else {
              document.getElementById('1-star').classList.add("checked");
              //postToServer(1.0, document.getElementById("userName").nodeValue, document.getElementById("tutorName").nodeValue); -->
              postToServer(1.0,a,b,c)
            }
        }
        
        else if(star_clicked == '2-star'){
            var hasChecked = document.getElementById('2-star').classList.contains('checked');
            if (hasChecked == true) {
               
                document.getElementById('3-star').classList.remove("checked");
                document.getElementById('4-star').classList.remove("checked");
                document.getElementById('5-star').classList.remove("checked");
            }
            else{
            document.getElementById('1-star').classList.add("checked");
            document.getElementById('2-star').classList.add("checked");
            postToServer(2.0,a,b,c)
            }
        }
        else if(star_clicked == '3-star'){
            var hasChecked = document.getElementById('3-star').classList.contains('checked');
            if (hasChecked == true) {
                document.getElementById('4-star').classList.remove("checked");
                document.getElementById('5-star').classList.remove("checked");
               
              
            }
            else{
            document.getElementById('1-star').classList.add("checked");
            document.getElementById('2-star').classList.add("checked");
            document.getElementById('3-star').classList.add("checked");
            postToServer(3.0,a,b,c)
                
            }
        }
        else if(star_clicked == '4-star'){
            var hasChecked = document.getElementById('4-star').classList.contains('checked');
            if (hasChecked == true) {
                document.getElementById('5-star').classList.remove("checked");
               
               
            }
            else{
            document.getElementById('1-star').classList.add("checked");
            document.getElementById('2-star').classList.add("checked");
            document.getElementById('3-star').classList.add("checked");
            document.getElementById('4-star').classList.add("checked");
            postToServer(4.0,a,b,c)
    
            }
        }
        else if(star_clicked == '5-star'){
            var hasChecked = document.getElementById('5-star').classList.contains('checked');
            if (hasChecked == true) {
               
            }
            else{
                document.getElementById('1-star').classList.add("checked");
                document.getElementById('2-star').classList.add("checked");
                document.getElementById('3-star').classList.add("checked");
                document.getElementById('4-star').classList.add("checked");
                document.getElementById('5-star').classList.add("checked");
                postToServer(5.0,a,b,c)
        
                }
        }
        {% else %}
        
        document.getElementById('rating').innerHTML="Please login to give ratings";
      
        {% endif %}
   
    }      
    </script>
<script>
  $(document).ready(function(){
 
    $("#more").hide();
    
  });
  $("#show").click(function(){
      $('#show').hide();
    $("#more").show();
  });
  $("#hide").click(function(){
    $("#more").hide();
    $('#show').show();
    
  });

  function postToServer(ratingParam, usernameParam, tutornameParam,createddate) {  
    var data = {
        "rating": ratingParam,
        "username": usernameParam,
        "tutorname": tutornameParam,
        "created_date" : createddate
        //"created_date": "2020-09-15T00:00:00Z" //use date function to get current date time.
    };
    // put ajax code from below
    //$(document).ready(function() {
       // $(".fa").on("click",function(event){
            //event.preventDefault();
            var token = '{{csrf_token}}';
            
              $.ajax({ 
                 headers: { "X-CSRFToken": token },
                 type: "POST",
                 url: 'http://127.0.0.1:8000/api_display/ratings/',
                 data: JSON.stringify(data), 
                 contentType: "application/json",
                 success: function (data) {
                   if (data.is_taken) {
                     alert("rating added");
                   }
                 }
               }); 
         //});
    //});
         

  }


    
</script>

{% endblock %}


