{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/resetpassword.css' %}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %} 
<div class="resetbody">
<h3>Enter your email address then we will send you reset link to your email.</h3>
<div class="resetcontainer">
<form method="post" class="formclass">
    {% csrf_token %}
    {{ form|crispy }} 
    <!-- {{ form|crispy }} -->
   
    <input type="submit" class="btn btn-success" style="margin-top: 15px;width:350px;" value="Send email">
</form>
</div>
</div>

{% endblock %}