
.background{
    background-image:url(../images/backgroundimage.jpg); /* The image used */
    opacity: 0.6;
    /* background-color: #cccccc; Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    width: 100%;
    
    
}
#tutors{
    margin-left:450px;
    margin-top: 300px;
    border: 2px solid black;
    border-radius: 4px;
    widows: 50px;
      
}
#submit{
    color:black;
    font-weight: bold;
}




