/* body{
    background-color: #F0F8FF;
    width:800px;
    
} */
.fullbody{
    background-color:#F0F8FF;
    height:2500px;
}

.registrationcontainer{
    width:60%;
    
    margin-bottom: 80px;
    height:auto;
    margin-left:350px;
    
}
.col-md-8 h1{
    margin-top: 100px;
}
.btn-primary{
    width:300px;
}
.errorlist{
    border:2px solid red;
}