.signupcontainer{
   height: 650px;
   width:520px;
   margin-left: 450px;
   padding:30px;
   margin-top: 50px;
}
/* .mainbody{
    margin-top: -30px;
    background-color:#F0F8FF;
} */

body{
    background-color: #F0F8FF;
}
